<li id="antwoords">Cosmic Moon Rating: {{moon-rating antwoord.rating}} Answer: {{antwoord.content}}<br> By: {{antwoordAuthor}}</li><br>
<button class="btn btn-info btn-sm" {{action 'add' antwoord}}>
  Add To Favoirites
</button>
<br><br><hr>
