<div class="pageSeperator">
  <h2>Favorite Antwoords</h2>
  <hr>
  <ul>
    {{#each favoriteAntwoords.antwoords as |antwoord|}}
      {{antwoord-tile antwoord=antwoord}}
    {{/each}}
  </ul>
</div>

{{yield}}
