body{
  background-color: white;
  /*background-image: url(http://fabianoefner.com/wp-content/uploads/2014/06/Oefner_Nebula_09-1180x842.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.jumbotron {
  color: grey;
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

input {
  width: 80%;
}

#inquiry {
  color: black;
}

hr {
  border-color: orange;
}

h1 {
  font-family: 'Bungee Hairline', cursive;
  color: black;
  font-size: 3em;
  text-align: center;
}
#title {
  font-size: 5em;
  font-style: strong;
  text-align: center;
  color: #0c49ad;
}
h2 {
  font-family: 'Audiowide', cursive;
  text-align: center;
  color: black;
}

.centerImg {
  text-align: center;
  height: 60%;
  width: 100%;
}

#shorter {
  position: relative;
  height: 60%;
  width: 100%;
}

.carouselImg {
  text-align: center;
  height: 60%;
  width: 100%;
}

.ctrBtn {
  text-align: center;
}

.alien {
  font-family: 'Khmer', cursive;
  color: black;
}

#brand {
  font-family: 'Megrim', cursive;
  font-size: 3em;
}

li {
  font-family: 'Megrim', cursive;
  color: black;
  list-style: none;
  font-size: 3em;
}

.footer {
  font-family: 'Megrim', cursive;
  color: black;
  list-style: none;
  font-size: 3em;
}

label {
  font-family: 'Stalinist One', cursive;
  color: black;
}
