body{
  /*background-color: white;*/
  background-image: url(http://www.narrowbandimaging.com/images/vdb142_S2HaO3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  color: grey;
  background-color: black;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
}

.centerNav {
  text-align: center;
}

input {
  width: 80%;
}

.ctrContact {
  text-align: center;
}

#inquiry {
  color: black;
}

hr {
  border-color: lightblue;
}
.inquiry {
  color: orange;
}

.lightenUp {
  color: lightblue;
}

h1 {
  font-family: 'Bungee Hairline', cursive;
  color: #0c49ad;
  font-size: 3em;
  text-align: center;
}
#title {
  font-size: 5em;
  font-style: strong;
  text-align: center;
  color: #0c49ad;
}
h2 {
  font-family: 'Audiowide', cursive;
  text-align: center;
  color: #d7d6d8;
}

p {
  text-align: center;
}

.centerImg {
  text-align: center;
  height: 60%;
  width: 100%;
}

#shorter {
  position: relative;
  height: 60%;
  width: 100%;
}

.carouselImg {
  text-align: center;
  height: 60%;
  width: 100%;
}

.ctrBtn {
  text-align: center;
}

.alien {
  font-family: 'Khmer', cursive;
  color: white;
}

#brand {
  font-family: 'Megrim', cursive;
  font-size: 3em;
}

li {
  font-family: 'Megrim', cursive;
  color: orange;
  list-style: none;
  font-size: 3em;
}

.footer {
  font-family: 'Megrim', cursive;
  color: black;
  list-style: none;
  font-size: 3em;
  text-align: center;
}

label {
  font-family: 'Stalinist One', cursive;
  color: black;
}
