<h1 class="lightenUp">About The Cosmic Message Board</h1>
<hr>
<hr>
<h2>
  This message platform was established in the zillionth parsect of the 153rd millinium so that life forms of all kinds would be able to come together in one forum to ask questions of their community.  There is a general sense of comeradery coupled with know-it-allness that is prevalent throughout the message board.. Please make haste, get your questions up and answered quick, there are only so many parsects available in one quandrant of space-time!!!
</h2>
<hr>
