<div class="container">
  <header class="jumbotron">
    <h1 id="title">Cosmic Message Board</h1>
  </header>
</div>
<div id="pictureCarousel" class="carousel slide jumbotron">
  <div class="container">
    <ol class="carousel-indicators">
      <li class="active" data-target="#picturesCarousel" data-slide-to="0"></li>
      <li data-target="#picturesCarousel" data-slide-to="1"></li>
      <li data-target="#picturesCarousel" data-slide-to="2"></li>
      <li data-target="#picturesCarousel" data-slide-to="3"></li>
      <li data-target="#picturesCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner centerImg">
      <div class="item active centerImg">
        <img class="images carouselImg" src="https://s-media-cache-ak0.pinimg.com/originals/ff/86/fc/ff86fc946c5909d98cd2cf8eb898f45c.jpg" alt="spaceship landing in future city">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://cdn.wallpapersafari.com/0/40/8oLzkc.jpg" alt="planet rising up over the horizon of a moon">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://coolvibe.com/wp-content/uploads/2010/03/wallpaper.jpg" alt="looking out a spaceship hangar at an alien planet">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://wallpapercave.com/wp/n5HsYh9.jpg" alt="A giant Mech Monster staring down a single knight on horseback">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://coolvibe.com/wp-content/uploads/2015/08/Sci-Fi-Edgy-Brute-Force.jpg" alt="People in space suits">
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#pictureCarousel" data-slide="prev"></a>
        <span class="icon-prev"></span>
  <a class="right carousel-control" href="#pictureCarousel" data-slide="next"></a>
  <span class="icon-next"></span>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid centerNav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selectors<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="http://localhost:4200/about">About</a></li>
            <li><a href="http://localhost:4200/contact">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
<hr>
<footer class="footer">
  {{#link-to 'about'}}>> Learn More About Cosmic Message Board{{/link-to}}<br>
  {{#link-to 'contact'}}>> Contact The Cosmic Ambassadors{{/link-to}}
</footer>
