<div class="container">
  <header class="jumbotron">
    <h1 id="title">Cosmic Message Board</h1>
  </header>
</div>
<div id="pictureCarousel" class="carousel slide jumbotron">
  <div class="container">
    <ol class="carousel-indicators">
      <li class="active" data-target="#picturesCarousel" data-slide-to="0"></li>
      <li data-target="#picturesCarousel" data-slide-to="1"></li>
      <li data-target="#picturesCarousel" data-slide-to="2"></li>
      <li data-target="#picturesCarousel" data-slide-to="3"></li>
      <li data-target="#picturesCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner centerImg">
      <div class="item active centerImg">
        <img class="images carouselImg" src="https://s-media-cache-ak0.pinimg.com/originals/a7/8a/c2/a78ac2aa7128b616b54515d5761b1b5d.jpg" alt="spaceship landing in future city">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://cdn.wallpapersafari.com/0/40/8oLzkc.jpg" alt="planet rising up over the horizon of a moon">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://coolvibe.com/wp-content/uploads/2010/03/wallpaper.jpg" alt="looking out a spaceship hangar at an alien planet">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://wallpapercave.com/wp/n5HsYh9.jpg" alt="A giant Mech Monster staring down a single knight on horseback">
      </div>
      <div class="item centerImg">
        <img class="images carouselImg" src="http://coolvibe.com/wp-content/uploads/2015/08/Sci-Fi-Edgy-Brute-Force.jpg" alt="People in space suits">
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#pictureCarousel" data-slide="prev"></a>
        <span class="icon-prev"></span>
  <a class="right carousel-control" href="#pictureCarousel" data-slide="next"></a>
  <span class="icon-next"></span>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand" class="navbar-brand" href="#">CMB Home |</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sectors<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><^_|<.^<*</a></li>
            <li><a href="#">+C^<%^>-=</a></li>
            <li><a href="#">@^<^_|^<3#</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">o*<^<@</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">s><3</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:4200/about">About<span class="sr-only"></span></a></li>
        <li><a href="http://localhost:4200/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
<footer class="footer">
  {{#link-to 'about'}}>> Learn More About Cosmic Message Board{{/link-to}}<br>
  {{#link-to 'contact'}}>> Contact The Cosmic Ambassadors{{/link-to}}
</footer>
