<h1>Contact The Message Board Ambassadors</h1>

<h2>If for any reason, you are unable to find the answers you seek on the actual message board, perhaps our intelligent ambassadors of knowledge will hold the keys to your inquiries...</h2>
<hr>
<h3>Zebulon Naftklept</h3>
<h4>Yon Galaxy<br>
Garbulex Asteroid, Yag System .78<br>
pok3 Squelinq Crator<br>
Dweeg, CXU 8 R</h4>
<h4>(+9)586868</h4>
<p>znaft@ki.zo</p>
<hr>
<h3>Daniel J. Hackman</h3>
<h4>Milky Way Galaxy<br>
Planet Earth, Solar System .3693<br>
4583 College Boulevard<br>
San Miguel, NM 89567 USA</h4>
<h4>(+1)786-984-4356</h4>
<p>danthehman@yahoo.com</p>
<hr>
{{#link-to 'about'}}Learn More About The Cosmic Message Board{{/link-to}}
