<h1>Contact The Message Board Ambassadors</h1>
<hr>
<hr>
<h2>If for any reason, you are unable to find the answers you seek on the actual message board, perhaps our intelligent ambassadors of knowledge will hold the keys to your inquiries...</h2>
<hr>
<div class="row">
  <div class="col-md-6 ctrContact">
    <h2>Zebulon Naftklept</h2>
    <h2>Yon Galaxy<br>
    Garbulex Asteroid, Yag System .78<br>
    pok3 Squelinq Crator<br>
    Dweeg, CXU 8 R</h2>
    <h2>(+9)586868</h2>
    <h2>znaft@ki.zo</h2>
  </div>
  <div class="col-md-6 ctrContact">
    <h2>Daniel J. Hackman</h2>
    <h2>Milky Way Galaxy<br>
    Planet Earth, Solar System .3693<br>
    4583 College Boulevard<br>
    San Miguel, NM 89567 USA</h2>
    <h2>(+1)786-984-4356</h2>
    <h2>danthehman@yahoo.com</h2>
  </div>
</div>
<hr>
