<h1>Welcome To The Cosmic Message Board!!!</h1>

<h2>The answers to all of existence await you inside...</h2>
<hr>

<ul>
  {{#each model as |inquiry|}}
    {{inquiry-tile inquiry=inquiry}}
    <hr>
  {{/each}}
</ul>

{{new-inquiry saveInquiry="saveInquiry"}}
