<h2>Welcome To The Cosmic Message Board!!!</h2>

<h1 class="lightenUp">Your answer awaits you within this construct...</h1>
<hr>
<hr>
<ul>
  {{#each model.inquiries as |inquiry|}}
    {{inquiry-tile inquiry=inquiry}}
  {{/each}}
</ul>

{{new-inquiry saveInquiry="saveInquiry"}}
<hr>
